h1{
    padding-left: 3em;
    padding-top: 0.4em;
    color: white;
    font-size:50px;
  }
  .slide-right {
    width: 100%;
    overflow: hidden;
    
  }
  
  .slide-right h1 {
    animation: 2s slide-right;
    animation-delay: 0.2s;
  }
  
  @keyframes slide-right {
    from {
      margin-left: -700px;
    }
  
    to {
      margin-left: 0%;
    }
  }
.card{
    width: 21em;
    height: 25em;
    margin: 5% 0%;
    background-color:white;
    border-radius: 10px;
  }
  
  .card-body{
    margin: 0% 0% 0% 3%;
    padding: 6% 0%;
  }
  
  
  img{
      width: 12em;
      height:10em;
      border-radius: 20px;
       
  }
  button.btn.btn-warning.btn-sm {
      padding: 1px;
      
  }

  body {
    background: linear-gradient(-45deg, #000000, #333232, #676969, #5e5f61);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
